<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <h1 class="text-center">WH3 DraftBot</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2>Matchup Odds</h2>
                <fieldset id="matchups">
                    {{ range $key, $value := .TournamentInfo.MatchupOdds }}
                        <div class="form-group">
                            <input id="{{$key.P1}}{{$key.P2}}" form="updateForm" name="odds-{{$key.P1}}{{$key.P2}}" type="text" placeholder="{{$key.P1}}-{{$key.P2}}" value="{{$value}}"/>
                            <label for="{{$key.P1}}{{$key.P2}}">{{$key.P1}}-{{$key.P2}}</label>
                        </div>
                    {{end}}
                </fieldset>
        </div>
        <div class="col-8">
            <form id="updateForm">
            <h2>Pre-Match Rules</h2>
            <div class="row">
                    <div class="col-2">
                        <fieldset id="gameConfig">
                            <div class="form-group">
                                <input id="rounds" name="rounds" type="text" placeholder="3" value="{{.TournamentInfo.RoundCount}}"/>
                                <label for="rounds">Number of Rounds</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-3">
                        <button type="submit" formaction="/view" class="btn btn-primary" aria-describedby="updateMatchStateHelp">Update Round Inputs</button>
                        <small class="form-text text-muted" id="updateMatchStateHelp">
                            Updates the number of round inputs to your Number of Rounds.
                        </small>
                    </div>
            </div>
            <h2>Current Match State</h2>
            <div class="row">
                    {{ range $i, $gs := .GameState.P2Rounds }}
                        <fieldset id="round-{{.Matchup}}">
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ if .Picks }}
                                        <input id="round-{{$i}}-picks" type="text" name="picks" value="{{index .Picks 0}} {{index .Picks 1}}"  aria-describedby="initialPicks"/>
                                    {{ else }}
                                        <input id="round-{{$i}}-picks" type="text" name="picks" value=""  aria-describedby="initialPicks"/>
                                    {{ end }}
                                    <label for="round-{{$i}}-picks">Picks</label>
                                    <small class="form-text text-muted" id="initialPicks">
                                        Format picks as F1 space F2, e.g. OK KI.
                                    </small>
                                </div>
                                <div class="col form-group">
                                    <input id="round-{{$i}}-p2pick" name="p2pick" type="text" value="{{.Matchup.P2}}" aria-describedby="p2Pick"/>
                                    <label for="round-{{$i}}-p2pick">Player 2 Pick</label>
                                    <small class="form-text text-muted" id="p2Pick">
                                        Player 2 is what the match's player 2 picked, regardless of whether they were first or second pick for this round.
                                    </small>
                                </div>
                                <div class="col form-group">
                                    <input id="round-{{$i}}-p1pick" name="p1pick" type="text" value="{{.Matchup.P1}}" aria-describedby="p1Pick"/>
                                    <label for="round-{{$i}}-p1pick">Player 1 Pick</label>
                                    <small class="form-text text-muted" id="p1Pick">
                                        Ditto the player 2 help.
                                    </small>
                                </div>
                                <div class="col form-group">
                                    <select class="form-select" aria-label="Who won the round?" id="round-{{$i}}-whowon" name="whowon" type="text" value="{{.WhoWon}}" aria-describedby="whowonhelp">
                                        <option value="NoOneYet" selected>No One Yet</option>
                                        <option value="P1">P1</option>
                                        <option value="P2">P2</option>
                                    </select>
                                    <small class="form-text text-muted" id="whowonhelp">
                                        Who won the round?
                                    </small>
                                </div>
                                <div class="col-2"><h3>Round {{$i}}</h3></div>
                            </div>
                        </fieldset>
                    {{end}}

                    <fieldset id="round-final">
                        <div class="form-row">
                            {{ if .GameState.P3Round.Picks }}
                                <div class="col-2 form-group">
                                    <input id="round-final-picks" type="text" name="last-picks" value="{{index .GameState.P3Round.Picks 0}} {{index .GameState.P3Round.Picks 1}} {{index .GameState.P3Round.Picks 2}}"/>
                                    <label for="round-final-picks">Picks</label>
                                </div>
                            {{ else }}
                                <div class="col-2 form-group">
                                    <input id="round-final-picks" type="text" name="last-picks" value=""/>
                                    <label for="round-final-picks">Picks</label>
                                </div>
                            {{ end }}
                            <div class="col-2 form-group">
                                <input id="round-final-ban" type="text" name="last-ban" value="{{.GameState.P3Round.Ban}}"/>
                                <label for="round-final-ban">Ban</label>
                            </div>
                            <div class="col-2 form-group">
                                <input id="round-final-counter-ban" name="last-counter-ban" type="text" value="{{.GameState.P3Round.CounterBan}}"/>
                                <label for="round-final-counter-ban">Counter Ban</label>
                            </div>
                            <div class="col-2 form-group">
                                <input id="round-final-p2-pick" name="last-p2pick" type="text" value="{{.GameState.P3Round.Matchup.P2}}"/>
                                <label for="round-final-p2-pick">Player 2 Pick</label>
                            </div>
                            <div class="col-2 form-group">
                                <input id="round-final-p1-pick" name="last-p1pick" type="text" value="{{.GameState.P3Round.Matchup.P1}}" />
                                <label for="round-final-p1-pick">Player 1 Pick</label>
                            </div>
                            <div class="col-2"><h3>Final Round</h3></div>
                        </div>
                    </fieldset>
                    <div class="form-row">
                        <div class="col-12">
                            <button id="getReq" type="submit" formaction="/recommend" class="btn btn-primary" aria-describedby="recommendHelp">Get Recommendation</button>
                            <small class="form-text text-muted" id="recommendHelp">
                                Generates a recommendation for the next move and the rest of the game based on the current game state. The line has the bot run both sides and draft optimally.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1> Recommendation </h1>
                    {{ if .RecommendedGameState.P3Round.Picks }}
                        {{template "recommendation" .RecommendedGameState}}
                    {{ end }}
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>


{{ define "recommendation" }}
<div class="col-12">
    {{ range $i, $gs := .P2Rounds }}
        <div class="row">
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item .flex-fill">Initial Picks: {{index .Picks 0}} {{index .Picks 1}}</li>
                <li class="list-group-item .flex-fill">Player 2 Pick: {{.Matchup.P2}}</li>
                <li class="list-group-item .flex-fill">Player 1 Pick: {{.Matchup.P1}}</li>
                <h3>Round {{$i}}</h3>
            </ul>
        </div>
    {{end}}
    <div class="row">
        <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item">Initial Picks: {{index .P3Round.Picks 0}} {{index .P3Round.Picks 1}} {{index .P3Round.Picks 2}}</li>
            <li class="list-group-item">P1 Ban: {{.P3Round.Ban}}</li>
            <li class="list-group-item">P2 Ban: {{.P3Round.CounterBan}}</li>
            <li class="list-group-item">P2 Pick: {{.P3Round.Matchup.P2}}</li>
            <li class="list-group-item">P1 Pick: {{.P3Round.Matchup.P1}}</li>
            <h3>Final Round</h3>
        </ul>
    </div>
</div>
{{ end }}